@model BeersDetailsVM

@{
    ViewData["Title"] = "_PartialDetails";
}

<div>

    <div class="container d-flex justify-content-center">
        <h1>_PartialDetails</h1>
    </div>

    <div class="container d-flex justify-content-center">
        <ul>
            <li>@Model</li>
        </ul>
    </div>

    <div class="container d-flex justify-content-center">
        @if (Model.ImgFilePath != null)
        {
            <figure class="figure boxsize justify-content-center">
                <img class="figure-img img-fluid justify-content-center" src="~/uploads/@Model.ImgFilePath" alt="Alternate Text" />
                <figcaption class="figure-caption text-right">A nice cold @Model.Container of @Model.Name from @Model.CompanyName.</figcaption>
            </figure>
        }
    </div>
</div>
