@model BeersIndexVM
@{
    ViewData["Title"] = "Shared/Index";
}

<div class="container d-flex justify-content-center">
    <h1>Shared/Index</h1>
</div>

<div class="container d-flex justify-content-center">
    @foreach (var item in Model.BeersList)
    {
        <div>
            <partial name="_PartialHomeBox" model="@item" />
        </div>
    }
</div>

<div class="container d-flex justify-content-center home-img">
    <img class="img-fluid" src="~/uploads/spelomtron.jpg" alt="spelomtron" />
</div>
