@model BeersDetailsVM
@{
    ViewData["Title"] = "Details";
}

<div class="container d-flex justify-content-center">
    <h1>Beers/Details</h1>
</div>

<div class="container d-flex justify-content-center">
    <partial name="_PartialDetails" />
</div>

<div class="container d-flex justify-content-center">
    <div>
        <div class="container d-flex justify-content-center">
            <h4>
                Some ice cold nice description:
            </h4>
        </div>
        <div class="container d-flex justify-content-center">
            <p>
                @Model.Description
            </p>
        </div>
    </div>
</div>
