@model BeersDetailsVM
@{
    ViewData["Title"] = "Details";
}

<div class="container d-flex justify-content-center">
    <h1>Beers/Details</h1>
</div>

<div class="container d-flex justify-content-center">
    <partial name="_PartialDetails" />
</div>