@model BeersUpdateVM
@{
    ViewData["Title"] = "Update";
}

@section head {
}

<div class="container d-flex justify-content-center">
    <h1>Add new beer</h1>
</div>
<div class="container d-flex justify-content-center">
    <form asp-controller="beers" asp-action="update" enctype="multipart/form-data" class="needs-validation">
        <div class="form-group formbox">
            <label asp-for="Name"></label>
            <br />
            <input class="form-control" asp-for="Name" />
            <span class="validation" asp-validation-for="Name"></span>
        </div>
        <div class="form-group formbox">
            <label asp-for="CompanyName"></label>
            <br />
            <input class="form-control" asp-for="CompanyName" />
            <span asp-validation-for="CompanyName"></span>
        </div>
        <div class="form-group formbox">
            <label asp-for="OriginCountry"></label>
            <br />
            <input class="form-control" asp-for="OriginCountry" />
            <span asp-validation-for="OriginCountry"></span>
        </div>
        <div class="form-group formbox">
            <label asp-for="Price"></label>
            <input class="form-control" asp-for="Price" />
            <span class="validation" asp-validation-for="Price"></span>
        </div>
        <div class="form-group formbox">
            <label asp-for="Container"></label>
            <input class="form-control" asp-for="Container" />
            <span asp-validation-for="Container"></span>
        </div>
        <div class="form-group formbox">
            <label asp-for="Type"></label>
            <input class="form-control" asp-for="Type" />
            <span asp-validation-for="Type"></span>
        </div>
        <div class="form-group formbox green-border-focus">
            <label asp-for="Description"></label>
            <textarea class="form-control" rows="3" asp-for="Description"></textarea>
            <span asp-validation-for="Description"></span>
        </div>
        <div class="form-group formbox">
            <label asp-for="Image"></label>
            <input class="form-group" asp-for="Image" />
            <span asp-validation-for="Image"></span>
        </div>
        <br />
        <input class="btn btn-success form-control-lg" type="submit" name="btnSubmit" value="Add Beer" />
    </form>
</div>
<div asp-validation-summary="All" class="danger jumbotron container-fluid d-flex justify-content-center"></div>

@section scripts  {
    <partial name="_ScriptBox" />
}